.top-bar {
  padding: 16px 0;

  background-color: blue;
  color: white;

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__icon-list {
    margin: -16px;
  }

  &__icon-list > li > a {
    padding: 0 16px;
    color: white;
    font-size: 14px;
  }

  &__links-wrapper > a {
    color: white;

    font-size: 14px;
    font-weight: 500;
  }
}

.top-nav {
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    padding: 16px 0;
  }

  &__menu {
    display: flex;

    .active {
      color: blue;
    }
  }

  &__menu > li > a {
    padding: 12px;
    color: darkslategray;

    font-size: 15px;
    font-weight: 500;

    &:hover {
      color: blue;
    }
  }

  &__bar {
    & > a {
      padding: 6px 10px;
      border-radius: 5px;

      background-color: blue;
      color: white;

      align-items: center;
    }
  }

  &__hamberger {
    display: flex;
    align-items: center;
    .menu-icon {
      display: none;

      padding: 16px 8px;
      margin-left: 8px;
      border: 1px solid darkgray;

      cursor: pointer;

      background-color: white;
      .nav-icon {
        position: relative;
        height: 3px;
        width: 20px;

        display: block;

        background: black;

        transition: background 0.2s ease-out;

        &::before {
          content: "";

          position: absolute;
          top: 7px;

          height: 100%;
          width: 100%;

          display: block;

          background: black;

          transition: all 0.2s ease-out;
        }

        &::after {
          content: "";

          position: absolute;
          top: -7px;

          height: 100%;
          width: 100%;

          display: block;

          background: black;

          transition: all 0.2s ease-out;
        }
      }
    }
  }
}

input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 768px) {
  .top-nav {
    position: relative;
    &__row {
      display: block;
    }

    &__bar {
      position: absolute;
      top: 22px;
      right: 13%;
    }

    &__hamberger {
      .menu-icon {
        position: absolute;
        top: 22px;
        right: 3%;
        display: inline-block;
      }
    }

    &__menu {
      display: none;

      width: 100%;
      background-color: white;

      li {
        padding: 16px 0;
        border-top: 1px solid #ededed;
      }
    }

    &__bar {
      display: flex;
    }
  }
}

input[type="checkbox"]:checked ~ .top-nav__menu {
  display: block;
}

input[type="checkbox"]:checked ~ .menu-icon {
  .nav-icon {
    background: transparent;
  }
}

input[type="checkbox"]:checked ~ .menu-icon {
  .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
  }
}

input[type="checkbox"]:checked ~ .menu-icon {
  .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
  }
}
