* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 72px;
  height: 230px;

  background-image: url(../images/page-top-bg.jpg);
  background-position: center center;
  background-size: cover;

  &__title {
    display: inline-block;
    padding: 25px 30px;
    border-radius: 5px;

    background-color: blue;
    color: white;

    font-size: 70px;
    line-height: 50px;
    font-weight: 700;
  }
}
